@mixin buttonStyle {
    font-family: $oswald;
    font-weight: 300;
    font-size: 1.4em;
}

.h0 {
    font-size: 7.2rem;
    line-height: 7.8rem;
    color: $white;

    &--primary {
        color: $primary;
    }
}

.h1 {
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: $white;

    &--primary {
        color: $primary;
    }
}

.h2 {
    font-size: 2.4rem;
    font-weight: 300;
    color: $white;

    &--primary {
        color: $primary;
    }
}

.text {
    font-weight: 300;
    font-size: 1.8rem;
    color: $black;
    line-height: 2.6rem;

    &--white {
        color: $white;
    }

    &--secondary {
        color: $secondary;
    }

    &--grey {
        color: $grey;
    }
}

.btn {
    @include buttonStyle;
    display: inline-block;
    padding: 1.3em 3.92em;

    background-color: $secondary;

    color: $white;
    text-transform: uppercase;

    transition: all 0.3s linear;

    &:hover, &:active, &:focus {
        background-color: $white;
        color: $secondary;
    }
}

.line {
    display: inline-block;
    width: 8rem;
    height: 3px;
    margin-left: 2rem;

    background-color: $primary;

    transform: translateY(-50%);

    &--grey {
        background-color: $grey;
    }

    &--white {
        background-color: $white;
    }
}