$white: #ffffff;
$primary: #21062A;
$secondary: #5a0d67;
$grey: #c4c4c4;
$black: #2C2B2B;

$oswald: 'Oswald', sans-serif;


$desktop-l: 1824px;
$desktop-m: 1224px;
$desktop-s: 918px;
$tablet: 768px;
$mobile: 480px;