.about-info {
    width: 100%;
    margin-top: 5rem;
    padding: 1rem 27rem 4.5rem 18.5rem;

    background-color: $primary;
}

.about-info__item {
    padding-top: 2.3rem;
}

.about-info__subtitle {
    margin-top: 6px;

}

.about-info__text {
    margin-top: 7px;

    line-height: 3rem;
}