.about {
    margin-top: 10rem;
}

.about__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about__image {
}

.about__content {
    width: 100%;
    margin-left: 9.5rem;
}

.about__head {
    display: flex;
    align-items: center;
    margin-left: 18.5rem;
}
