.info {
    width: 45rem;
    height: 7.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;

    border: 1px solid $grey;

    color: $black;

    transition: all 0.1s linear;

    &:hover, &:focus, &:active {
        width: 50rem;
        border: 2px solid $secondary;

        & .info__number, & .info__title {
            color: $secondary;
        }
    }
}

.info__number {
    display: inline-block;
    color: $grey;
    margin-right: 4rem;

    transform: rotate(-90deg);
}

.info__title {
    color: $black;
}